.card{
  width: 250px;
  aspect-ratio: 0.714;
  transition: all 0.3s ease-in-out;
  background-color: black;
  box-shadow: 5px 5px 20px gray;
  border-radius: 10px;
  padding: 10px;
}

.inside{
  background-color: gray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  gap: 7px;
}
.artwork{
  height: 35%;
  width: 100%;
  border-radius: 5px;
  background-color: lightgray;
  opacity: 0.5;
}
.card:hover{
  box-shadow: 10px 10px 30px black;
}
