<div class="card">

  <div class="inside" [ngStyle]="{ background : playingCard().cardIdentity.gradientString }">

    <app-card-header [cardName]="playingCard().cardName" [cardIdentity]="playingCard().cardIdentity"/>

    <div class="artwork">
      <img src="" alt="">
    </div>

    <app-card-type [cardType]="playingCard().cardType" [cardExtension]="playingCard().extension"/>

    <app-card-capacities [capacities]="playingCard().capacities"/>

    <app-card-footer [cardYear]="playingCard().year" [artistName]="playingCard().artistName" [powerTought]="playingCard().powerTought"/>
  </div>

</div>
