a{
  text-decoration: none;
  color: black;
}
.card{
  width: 250px;
  aspect-ratio: 0.714;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}

.inside{
  background-color: gray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  padding: 10px;
}
.artwork{
  width: 100%;
  max-height: 140px;
  aspect-ratio: 1.33;
  border: solid 2px;
  border-radius: 2px;
  background-size: cover;
  background-repeat: no-repeat;
}
.card:hover{
  box-shadow: 10px 10px 30px rgb(105, 117, 101);
}
