
<div class="capacities">

    <div *ngFor="let capacity of capacities()" class="capacity">

      <div class="costs">
          <div *ngFor="let cost of capacity.costs">
            @if (cost === 'tap') {
              <img [src]="'img/icons/'+cost+'.png'" alt="" class="icon">
            }
            @if (cost != 'tap'){
              <img [src]="'img/mana/'+cost+'.png'" alt="" class="icon">
            }
          </div>
      </div>

      <div class="description">
        <strong>:</strong>  {{ capacity.description }}
      </div>

    </div>

</div>
