.capacities{
  display: flex;
  flex-direction: column;

  height: 120px;

  background-color: lightgray;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: solid 2px rgb(70,70,70);
  .capacity{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 5px;
    font-size: 0.7em;
    .costs{
      display: flex;
    }
  }
  .icon{
    height: 10px;
  }
}
