.card-type{
  background-color: lightgray;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: outset 2px black;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.type{
  margin-left: 3px 0 0 10px;
}
